set timeout=0
set default=0

serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1
terminal_input console serial
terminal_output console serial

insmod multiboot2
insmod all_video
insmod gfxterm
set gfxmode=1024x768x32
set gfxpayload=keep
terminal_output gfxterm serial

menuentry 'MantleOS' {
    multiboot2 /boot/mantle-kernel.elf
    module2 /boot/mantle-rootfs.mfs mantle-rootfs
    boot
}

menuentry 'MantleOS — diagnostic' {
    multiboot2 /boot/mantle-kernel.elf
    module2 /boot/mantle-rootfs.mfs mantle-rootfs
    boot
}
